.hide-arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}

.space {
    margin-right: 1rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.space-font{
    margin-left: 10.2rem;
}

.space-font-data{
    margin-left: 13.2rem;
}