<form #frm="ngForm" name="formFinancialTransfer" th:method="post" ngSubmit="onSubmit(frm)">
    <div class="form-group col-md-3">
        <label for="sourceAccount"><b>Conta de origem</b></label>
        <input type="text" name="sourceAccount" id="sourceAccount" class="form-control"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)
            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            maxlength="6" (blur)="verificationSourceAccount()" placeholder="Digite a conta de origem..." [(ngModel)]="financialTransfer.sourceAccount" required #sourceAccount="ngModel">
    </div><br>
    <div class="form-group col-md-3">
        <label for="targetAccount"><b>Conta de destino</b></label>
        <input type="text" name="targetAccount" id="targetAccount" class="form-control"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength) 
            this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            maxlength="6" (blur)="verificationTargetAccount()" placeholder="Digite a conta de destino..." [(ngModel)]="financialTransfer.targetAccount" required>
    </div><br>
    <div class="form-group col-md-3">
        <label for="appointmentDate"><b>Data de agendamento</b></label>
        <input type="date" class="form-control" name="appointmentDate" id="appointmentDate" [min]="maxDate"
            [(ngModel)]="financialTransfer.appointmentDate" (blur)="resetValue()" required>
    </div><br>
    <div class="form-group col-md-3">
        <label for="transferDate"><b>Data da transferencia</b></label>
        <input type="date" class="form-control" name="transferDate" id="transferDate"
            [(ngModel)]="financialTransfer.transferDate" disabled required>
    </div><br>
    <div class="form-group col-md-3">
        <label for="transferAmount"><b>Valor da transferência</b></label>
        <input type="text" class="form-control" name="transferAmount" id="transferAmount"
            [(ngModel)]="financialTransfer.transferAmount" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align: 'left' }" (blur)="rateCalculation()" required>
    </div><br>
    <div class="form-group col-md-3">
        <label for="rate"><b>Taxa</b></label>
        <input type="text" class="form-control" name="rate" id="rate" currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align: 'left' }" name="rate" id="rate"
            [(ngModel)]="financialTransfer.rate" required disabled>
    </div><br>
<button type="button" name="btn1" id="btn1" class="btn btn-success btn-config" (click)="actionBtnSave()" [disabled]="!frm.valid"><i
        class="fa fa-save"></i>
    Salvar</button><br><br><br><br>
</form>
<p-table [value]="financialTransfers" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr style="text-align: center;">
            <th style="text-align: center;">Conta de origem</th>
            <th style="text-align: center;">Conta de destino</th>
            <th style="text-align: center;">Data de agendamento</th>
            <th style="text-align: center;">Data da transferencia</th>
            <th style="text-align: center;">Valor da transferência</th>
            <th style="text-align: center;">Taxa</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-financialTransfers>
        <tr style="text-align: center;">
            <td style="text-align: center;">{{financialTransfers.sourceAccount}}</td>
            <td style="text-align: center;">{{financialTransfers.targetAccount}}</td>
            <td style="text-align: center;">{{financialTransfers.appointmentDate | date: 'dd/MM/yyyy'}}</td>
            <td style="text-align: center;">{{financialTransfers.transferDate | date: 'dd/MM/yyyy'}}</td>
            <td style="text-align: center;">{{financialTransfers.transferAmount | currency}}</td>
            <td style="text-align: center;">{{financialTransfers.rate | currency}}</td>
        </tr>
    </ng-template>
</p-table>